:root {
  --primary-color: #E0E0E0;
  --secondary-color: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
  background: #E0E0E0;
  font-family: 'Roboto', sans-serif;
}

