<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="itemdetails-container">
    <div class="itemdetails-container-info">
      <div class="itemdetails-container-info-image">
        <img src="/images/{{this.itemInfo.img_url}}.png">
      </div>
      <div class="itemdetails-container-info-description">
        <div class="itemdetails-container-info-description-basic">
          <h1>{{this.itemInfo.name}}</h1>
          <p>{{this.itemInfo.price}}.00zł</p>
          <div class="itemdetails-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="itemdetails-rating-rate">(0 opinii)</span>
          </div>
          <div class="itemdetails-container-info-description-basic-details">
            <p>Typ: Górski</p>
            <p>Rama: Aluminum</p>
            <p>Przerzutki: Shimano 21-biegowe</p>
            <p>Rozmiar kół: 29"</p>
            <p>Waga: 13,2kg</p>
          </div>
        </div>
        <div class="itemdetails-container-info-description-buttons">
          <button class="itemdetails-button-cart"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</button>
          <button class="itemdetails-button-favourite"><i class="fa fa-heart"></i>Dodaj do ulubionych</button>
        </div>
        <div class="itemdetails-container-info-description-delivery">
          <p><i class="fa fa-check"></i> Darmowa dostawa</p>
          <p><i class="fa fa-check"></i> Wysyłka w 24h</p>
          <p><i class="fa fa-check"></i> Możliwy odbiór w salonie</p>
          <p><i class="fa fa-check"></i> Zwrot do 7 dni</p>
        </div>
      </div>
    </div>
<!--    <div class="itemdetails-container-details">-->
<!--      <button class="itemdetails-container-details-description">Opis</button>-->
<!--      <button class="itemdetails-container-details-ratings">Opinie</button>-->
<!--    </div>-->
  </div>
</body>
